
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';
@import 'bourbon/dist/bourbon';

/** * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
// endinjector

$clean: #EBFFE5;
$dirty: #FFEAEA;

.dirty-bg {
  background-color: $dirty !important;
  @include transition(background 1s ease-in-out);
}

.dirty-bg-dark {
  background-color: darken($dirty, 6%) !important;
  @include transition(background 0.6s ease-in-out);
}

.clean-bg {
  background-color: $clean !important;
  @include transition(background 1s ease-in-out);
}

.clean-bg-dark {
  background-color: darken($clean, 6%) !important;
  @include transition(background 0.6s ease-in-out);
}

.panel {
  border-radius: 0.6rem;
}

textarea.blind {
  min-height: auto;
  border: none;
  box-shadow: none;
  margin: 0;
  background-color: inherit;

  &[disabled] {
    background-color: inherit;
  }
}

input.blind {
  border: none;
  box-shadow: none;
  background-color: inherit;
  font-style: italic;
  font-size: 1rem;

  &[disabled] {
    background-color: inherit;
  }
}

table {
  border-radius: 0.3rem;
  margin-bottom: 0.6rem !important;

  tr {
    vertical-align: bottom;
  }
}

.removal-modal {
  width: 30% !important;
  left: 74% !important;
  top: 30% !important;
}

.nested-container {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.filled-grid {
  -moz-column-count: 2;
  -moz-column-gap: 0;
  -moz-column-fill: balance;
  -webkit-column-count: 2;
  -webkit-column-gap: 0;
  -webkit-column-fill: balance;
  column-count: 2;
  column-gap: 0;
  column-fill: balance;
  padding: .935rem;
}

.filled-grid-item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 0 .935rem;
}
