<div class="row panel" ng-class="statusClass">
  <p>
    <div>
      {{ title }}:
      <span
        blind-input
        ng-model="container.name"
        placeholder="Enter a container name...">
      </span>
      <span class="right">
        <span class="button radius micro" ng-click="addValue(container)">Add value</span>
        <span class="button radius micro" ng-click="addSubContainer(container)">Add sub-container</span>
        <span class="button radius micro alert" ng-click="remove()"><strong>Remove</strong></span>
      </span>
    </div>
  </p>
  <div>
    <span
      blind-input
      placeholder="Enter a comment or a description here..."
      ng-model="container.comment"
      type="textarea"/>
  </div>
  <div
    class="nested-container fade"
    ng-repeat="value in container.values track by value.createdAt">
      <div trsl-value/>
  </div>

  <div class="vertically-spaced" sub-containers/>
</div>
