<div class="row panel">
  <div>
    <span>
      <input ng-model="nameFilter" ng-minlength="2" ng-change="resetMaxItems()" type="search"/>
    </span>
    <span class="button" ng-click="addContainer()">New Container</span>
    <span class="button center success" dump-dialog>Dump!</span>
    <span class="button right" ng-click="toggleMode()">{{ modeText }}</span>
  </div>
  <div class="right" i18n-stats="stats.total"/>
</div>

<div
  infinite-scroll="infiniteScroll()"
  infinite-scroll-distance="2"
  class="small-12 columns">
  <div
    ng-repeat="container in containers | filter: { name: nameFilter } | limitTo: maxItemsShown track by container._id"
    class="fade small-6 columns">
    <div container/>
  </div>
</div>
