<p>Key: <span blind-input ng-model="value.name"/></p>
<div
  blind-input
  placeholder="Enter a comment or a description here..."
  ng-model="value.comment"
  type="textarea"/>

<br/>

<div>
  <ul class="button-group radius round">
    <li class="button tiny" ng-click="setDirty()">all dirty</li>
    <li class="button tiny" ng-click="removeConfirmation()"><strong>remove</strong></li>
    <li class="button tiny" ng-click="setClean()">all clean</li>
  </ul>
</div>

<br/>

<div ng-repeat="trsl in value.translations track by trsl.lang" class="fade">
  <div trsl="trsl"/>
</div>
